name: Event issue
on: 
  push:
    paths-ignore:
    - '*.md'

  issues:
    types:
      - opened
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Hola!!!
      run: echo "Issue Opened"

    