name: 09algo artefactos
on:
  workflow_dispatch:
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: First die
        id: dice1
        run: |
          dice1=$((1 + RANDOM % 6))
          dice2=$((1 + RANDOM % 6))
          echo "Número generado: $dice1"
          echo "Número generado: $dice2"
          echo $dice1 > dado1.txt
          echo $dice2 > dado2.txt
      - name: verifica
        run: | 
            cat dado1.txt
            cat dado2.txt
      - name: Archivar artefacto
        uses: actions/upload-artifact@v4
        with:
          name: dado1
          path: ./*.txt
    
  job2:
    needs: job1
    runs-on: ubuntu-latest
    outputs:
      num1: ${{ steps.leer1.outputs.num1}}
      num2: ${{ steps.leer2.outputs.num2}}
    steps:
      - name: descargar artefacto
        uses: actions/download-artifact@v4
        with:
          name: dado1
      - name: mostrar
        id: leer1
        run: |
          NUM=$(cat dado1.txt)
          echo "num1=$NUM" >> $GITHUB_OUTPUT
      - name: mostrar 2
        id: leer2
        run: |
            NUM=$(cat dado2.txt)
            echo "num2=$NUM" >> $GITHUB_OUTPUT
      - name: summary
        run: |
          echo "# aahhhhhh :game_die:" >> $GITHUB_STEP_SUMMARY
          echo "Dado 1: $(cat dado1.txt)" $GITHUB_STEP_SUMMARY
          echo "Dado 2: $(cat dado2.txt)" $GITHUB_STEP_SUMMARY
          


          